<main role="main" class="homepage">

<div class="article-list">
    <h1 class="headline">Publications</h1>

    <article class="list-item" itemscope itemtype="http://schema.org/Blog">

        {% capture years %}
        {% for post in site.data.publications %}
            {{ post.issued.first.year }}
        {% endfor %}
        {% endcapture %}

        <!-- This will only work for years of same length -->
        {% assign years = years | split: ' ' | uniq | sort | reverse %}

        {% for year in years %}
            {% assign y = year | plus: 0 %}

        {% for post in site.data.publications %}
            {% assign this_year = post.issued.first.year  %}
            {% if this_year == y %}

                <div class="meta">

                    {% if post.personal-url %}
                        <a href="{{ post.url | relative_url }}">
                        {{ post.title  }}.
                        </a>
                    {% else %} 
                        {{ post.title }}
                    {% endif %}

                    <span class="value">
                    {% for author in post.author %}
                        {% if author == post.author.last %}
                            {{ author.given }} {{ author.family }}
                        {% else %}
                            {{ author.given }} {{ author.family }},
                        {% endif %}
                    {% endfor %}
                    </span>

                    <p>
                    {% for editor in post.editor %}
                        {% if editor == post.editor.last %}
                            {{ editor.given }} {{ editor.family }}
                        {% else %}
                            {{ editor.given }} {{ editor.family }},
                        {% endif %}
                    {% endfor %}
                    </p>

                {% if post.container-title %}
                <p>
                    {{ post.container-title }} ({{ this_year }})
                </p>
                {% endif %} 

                </div>
            {% endif %}
        {% endfor %}
        {% endfor %}
    </article>
</div>

</main>
